.card{
    width: calc(33.33% - 10px);
    height: 400px;
    margin:5px
}
.card .image-area{
    height: 260px;
    overflow: hidden;
    border-radius: 20px;
}
.card .image{
    object-fit:cover; 
    width:100%;
    height: 100%;
}

.card .text{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.text .super-host{
    border: solid 1px black;
    border-radius: 20px;
    width: 120px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.text .star{
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:1024px) {
    .card{
        width: calc(50% - 10px);
    }
}

@media screen and (max-width:480px) {
    .card{
        width: calc(100% - 10px);
    }
}